{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="form-card">
        <h2>Delete Post</h2>
        <p>Are you sure you want to delete the post: <strong>"{{ object.title }}"</strong>?</p>

        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn logout">Yes, Delete</button>
            <a href="{% url 'post_detail' object.pk %}" class="btn">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
